p{
    font-size: 18px;
}
#hero{
    .abso_content{
        .abso_img{
            position: relative;
            .my_wave{
                padding-bottom: 2rem;
                top: -2.5rem;
            }
            .my_star{
                position: absolute;
                right: 4rem;
            }
        }
    }
    p{
        color: #ADADAD;
        margin-top: 1rem;
    }
    .box_prime{
        display: flex;
        gap: 4rem;
        margin-top: 2rem;
        h2{
            font-size: 36px;
            font-family: 'Neue Machina',"Raleway";
            font-weight: 900;
            font-family: 'Neue Machina';
            background: linear-gradient(185.8deg, #C09A59 -30.73%, #F5E3B8 35.44%, #C09A59 121.29%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    .myfirst{
        position: absolute;
        right: 0;
        top: -2rem;

    }
}


h1{
    font-family: 'Neue Machina',"Raleway";
    font-weight: 900;
}
.other{
    p{
        font-size: 20px;
    }
    background-color: #F2F2F2;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .content_about{
        border-radius: 3rem;
        background-color: white;
        padding: 4rem;
        img{
            width: 100%;
            height: auto;
        }
        .title{
            font-family: 'Neue Machina',"Raleway";
            font-weight: 900;
            margin-bottom: 3rem;
            font-size: 2.5rem;
        }
    }
}
.text_title{
    text-align: center;
    margin-bottom: 4rem;
}
.why{
    background-color: #F2F2F2;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .text_title{
        text-align: center;
        margin-bottom: 8rem;
    }
    .content_why{
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .service_card{
            position: relative;
            text-align: center;
            .content{
                position: relative;
                width: 370px;
                height: 300px;
                background: #FFFFFF;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.17);
                border-radius: 24px;

                .box_icon{
                    position: absolute;
                    left: 38%;
                    top: -3rem;
                    width: 94px;
                    height: 94px;
                    border-radius: 24px;
                    background-color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .box_text{
                    position: absolute;
                    top: 2rem;
                    width: 100%;
                    height: 100%;
                    padding: 2rem;
                    h3{
                        margin-bottom: 1rem;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

.how,.faq{
    background-color: #000000;
    padding-top: 5rem;
    padding-bottom: 18rem;

    .text_title{
        text-align: center;
        margin-bottom: 5rem;
        h1{
            font-family: 'Neue Machina';
            background: linear-gradient(185.8deg, #C09A59 -30.73%, #F5E3B8 35.44%, #C09A59 121.29%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        p{
            color: white;
        }
    }

    .avant_cb{
        position: relative;


        .content_box.active{
            display: block;
        }
        .content_box{
            position: relative;
            top: 0;
            left: 0;
            display: none;
            justify-content: center;
            align-items: center;
            .cercle{
                margin-top: 5rem;
                position: relative;
                width: 500px;
                height: 500px;
                border-radius: 50%;
                background: linear-gradient(187.97deg, #C09A59 -80.75%, #F5E3B8 36.27%, #C09A59 188.08%);
                img{
                    position: absolute;
                    width: 350px;
                    height: auto;
                    top: -6rem;
                    left: 4.5rem;
                }
            }
        }
    }


    .other_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        .my_boxx{
            display: flex;
            align-items: center;
            padding: 20px 40px;
            background: #121212;
            box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.13);
            border-radius: 10px;
            cursor: pointer;
            transition: all .5s ease-in-out;

            h5{
                font-weight: 700;
                line-height: 1;
                color: #444444;
                transition: all 0.3s ease-in-out;
            }

            &:hover{
                background: #151515;
                h5{
                    color:  #F4E1B5;
                }
            }

        }
        .my_boxx.active{
            background: #151515;
            h5{
                color:  #F4E1B5;
            }
        }
    }


}

.what_client{
    display: none;
    background: #FFF0F0;
    position: relative;
    .text_title{
        text-align: left;
        margin-bottom: 5rem;
    }

    .box_card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .card_item{
            width: 90%;
            padding: 20px 40px;
            display: flex;
            gap: 1.5rem;
            align-items: center;
            cursor: pointer;
            img{
                width: 102px;
                height: 102px;
                border-radius: 50%;
            }
            h3{
                font-weight: 900;
            }
            &:hover{
                background: #FFFFFF;
                box-shadow: 0px 1px 49px rgba(0, 0, 0, 0.13);
                border-radius: 15px;
            }
        }
        .card_item.active{
            background: #FFFFFF;
            box-shadow: 0px 1px 49px rgba(0, 0, 0, 0.13);
            border-radius: 15px;
        }
    }

    .box_comment{
        position: relative;
        .what_content{
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        .what_content.active{
            display: block;
        }
        h2{
            font-weight: 900;
        }
        .stars{
            color:  #FEC42D;
        }
    }
}

.box_gold{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    .my_btn{
        display: flex;
        align-items: center;
        position: relative;
        gap: 1rem;
        color: #000000 !important;
        padding: .5rem 1.5rem;
        background: linear-gradient(187.97deg, #C09A59 -80.75%, #F5E3B8 36.27%, #C09A59 188.08%);
        border-radius: 10px;

        .text_block{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h3{
                font-weight: 900;
            }
        }
    }
}

.box_btn{
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
    .my_btn{
        position: relative;
        width: 272px;
        height: 92px;
        background: linear-gradient(187.97deg, #C09A59 -80.75%, #F5E3B8 36.27%, #C09A59 188.08%);
        border-radius: 10px;

        img{
            position: absolute;
            left: 10%;
            top: 20%;
        }

        .text_block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .tx{
                color: #000000 !important;

            }
            h3{
                margin-top: -10px;
                font-weight: 900;
            }
        }
    }
}
.app{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #F2F2F2;
    .content_app{
        margin-left: 10rem;
        margin-right: 10rem;
        border-radius: 3rem;
        background: linear-gradient(280.75deg, #EED9AA -24.92%, rgba(238, 217, 170, 0) 133.49%);
        padding: 4rem;
        text-align: center;
        .box_gold{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}

.faq{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #000000;
    .faq_content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .box_content{
            width: 100%;
            height: 96px;
            padding: 2rem;
            background: #121212;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icons{
                i{
                    font-size: 3rem;
                    color: #EFDBAD;
                }
            }
            h4{
                color: white;
            }
        }
    }
}

.mycontact{


    .title{
        font-weight: 900;
        margin-bottom: 4rem;
    }
    input{
        padding: 1rem;
        border-radius: 10px;

    }
    .myrow{
        display: flex;
    }
    .formull{
        margin-left: 6rem;
        margin-right: 6rem;

    }
    .riba{
        background-color: #000000 !important;
        border-radius: 20px;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 2rem;
        height: auto;
        .box1{
            padding: 0rem 2rem;
        }
        h5{
            font-weight: 700;
            color: white;
            margin-top: 10px;
        }
        img{
            width: 42px;
            height: auto;
        }
        p{
            color: #ADADAD;
        }
    }
}

.portfolio{
    background-color: #000000;
    #portfolio-flters{
        display: flex !important;
        flex-direction: column !important;
    }
    .filter-active{
        display: flex !important;
    }
    .other-filter{
        display: none !important;
    }

    .portfolio-item{
        display: flex;
        justify-content: center;
        align-items: center;

        .cercle{
            margin-top: 5rem;
            position: relative;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            background: linear-gradient(187.97deg, #C09A59 -80.75%, #F5E3B8 36.27%, #C09A59 188.08%);
            img{
                position: absolute;
                width: 350px;
                height: auto;
                top: -6rem;
                left: 4.5rem;
            }
        }

    }
}

.fa2{
    background-color: #000000;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .text_title{
        text-align: center;
        margin-bottom: 5rem;
        h1{
            font-family: 'Neue Machina';
            background: linear-gradient(185.8deg, #C09A59 -30.73%, #F5E3B8 35.44%, #C09A59 121.29%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        p{
            color: white;
        }
    }
    .wrapper{
        background-color: #121212;
        color: white;
        margin-bottom: 20px;
        padding: 15px 40px;
        border-radius: 5px;
        box-shadow: 0 15px 25px rgba(0,0,50,0.2);
    }
    .toggle,
    .myfaqcontent{
        font-family: "Poppins",sans-serif;
    }
    .toggle{
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFFFFF;
        font-weight: 700;
        border: none;
        gap: 1rem;
        outline: none;
        cursor: pointer;
        padding: 15px 0;
        h5{
            font-size: 26px;
            text-align: left;
        }
        .icon_cercle{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            border: 4px solid #F5E3B8;
            padding: 10px;
            border-radius: 50%;
        }
    }
    .myfaqcontent{
        position: relative;

        text-align: justify;
        line-height: 30px;
        height: 0;
        overflow: hidden;
        transition: .5s ease-in-out;
        p{
            font-size: 18px;
        }
    }

}
footer{
    .footer-info{
        .logo{
            margin-top: -2rem;
        }
        .details_koree{
            font-weight: 600;

        }
    }
}

.mention{
    margin-top: 2rem;
    h1{
        text-align: center;
    }
    h3{
        font-weight: 700;
    }
    a{
        color: rgb(41, 41, 190);
        text-decoration: underline;
    }
}
.mycenter{
    text-align: center;
}
.underl{
    text-decoration: underline;
}
table{
    thead,th,td{
        text-align: center;
    }
    th{
        border: 1px solid #000000;
        padding: 10px;
    }
    td {
        border: 1px solid #000000;
        border-top: none;
        padding: 10px;
    }
}

.my_form{
    .form-group{
        input{
            padding: 15px 10px;
        }
    }
    .mon_btn{
        margin-top: 2rem;
        button{
            padding: 18px 60px;
            background-color: #000000;
            color: white;
            text-decoration: none;
            border-radius: 10px;
            border: 0;
        }
    }
}
