p {
  font-size: 20px;
}

#hero .abso_content .abso_img {
  position: relative;
}

#hero .abso_content .abso_img .my_wave {
  padding-bottom: 2rem;
  top: -2.5rem;
}

#hero .abso_content .abso_img .my_star {
  position: absolute;
  right: 4rem;
  top: 3rem;
}

#hero p {
  color: #ADADAD;
  margin-top: 1rem;
}

#hero .box_prime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}

#hero .box_prime h2 {
  font-size: 36px;
  font-family: 'Neue Machina',"Raleway";
  font-weight: 900;
  font-family: 'Neue Machina';
  background: linear-gradient(185.8deg, #C09A59 -30.73%, #F5E3B8 35.44%, #C09A59 121.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#hero .myfirst {
  position: absolute;
  right: -5em;
  top: 5rem;
}

h1 {
  font-family: 'Neue Machina',"Raleway";
  font-weight: 900;
}

.other {
  background-color: #F2F2F2;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.other p {
  font-size: 18px;
}

.other .content_about {
  border-radius: 3rem;
  background-color: white;
  padding: 4rem;
}

.other .content_about img {
  width: 100%;
  height: auto;
}

.other .content_about .title {
  font-family: 'Neue Machina',"Raleway";
  font-weight: 900;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.text_title {
  text-align: center;
  margin-bottom: 4rem;
}

.why {
  background-color: #F2F2F2;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.why .text_title {
  text-align: center;
  margin-bottom: 8rem;
}

.why .content_why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.why .content_why .service_card {
  position: relative;
  text-align: center;
}

.why .content_why .service_card .content {
  position: relative;
  width: 370px;
  height: 300px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.17);
  border-radius: 24px;
}

.why .content_why .service_card .content .box_icon {
  position: absolute;
  left: 38%;
  top: -3rem;
  width: 94px;
  height: 94px;
  border-radius: 24px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why .content_why .service_card .content .box_text {
  position: absolute;
  top: 2rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.why .content_why .service_card .content .box_text h3 {
  margin-bottom: 1rem;
  font-weight: 900;
}

.how, .faq {
  background-color: #000000;
  padding-top: 5rem;
  padding-bottom: 18rem;
}

.how .text_title, .faq .text_title {
  text-align: center;
  margin-bottom: 5rem;
}

.how .text_title h1, .faq .text_title h1 {
  font-family: 'Neue Machina';
  background: linear-gradient(185.8deg, #C09A59 -30.73%, #F5E3B8 35.44%, #C09A59 121.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.how .text_title p, .faq .text_title p {
  color: white;
}

.how .avant_cb, .faq .avant_cb {
  position: relative;
}

.how .avant_cb .content_box.active, .faq .avant_cb .content_box.active {
  display: block;
}

.how .avant_cb .content_box, .faq .avant_cb .content_box {
  position: relative;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how .avant_cb .content_box .cercle, .faq .avant_cb .content_box .cercle {
  margin-top: 5rem;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(187.97deg, #C09A59 -80.75%, #F5E3B8 36.27%, #C09A59 188.08%);
}

.how .avant_cb .content_box .cercle img, .faq .avant_cb .content_box .cercle img {
  position: absolute;
  width: 350px;
  height: auto;
  top: -6rem;
  left: 4.5rem;
}

.how .other_content, .faq .other_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.how .other_content .my_boxx, .faq .other_content .my_boxx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 40px;
  background: #121212;
  -webkit-box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.how .other_content .my_boxx h5, .faq .other_content .my_boxx h5 {
  font-weight: 700;
  line-height: 1;
  color: #444444;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.how .other_content .my_boxx:hover, .faq .other_content .my_boxx:hover {
  background: #151515;
}

.how .other_content .my_boxx:hover h5, .faq .other_content .my_boxx:hover h5 {
  color: #F4E1B5;
}

.how .other_content .my_boxx.active, .faq .other_content .my_boxx.active {
  background: #151515;
}

.how .other_content .my_boxx.active h5, .faq .other_content .my_boxx.active h5 {
  color: #F4E1B5;
}

.what_client {
  display: none;
  background: #FFF0F0;
  position: relative;
}

.what_client .text_title {
  text-align: left;
  margin-bottom: 5rem;
}

.what_client .box_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what_client .box_card .card_item {
  width: 90%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.what_client .box_card .card_item img {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

.what_client .box_card .card_item h3 {
  font-weight: 900;
}

.what_client .box_card .card_item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 49px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 49px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
}

.what_client .box_card .card_item.active {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 49px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 49px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
}

.what_client .box_comment {
  position: relative;
}

.what_client .box_comment .what_content {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.what_client .box_comment .what_content.active {
  display: block;
}

.what_client .box_comment h2 {
  font-weight: 900;
}

.what_client .box_comment .stars {
  color: #FEC42D;
}

.box_gold {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.box_gold .my_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1rem;
  color: #000000 !important;
  padding: .5rem 1.5rem;
  background: linear-gradient(187.97deg, #C09A59 -80.75%, #F5E3B8 36.27%, #C09A59 188.08%);
  border-radius: 10px;
}

.box_gold .my_btn .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box_gold .my_btn .text_block h3 {
  font-weight: 900;
}

.box_btn {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.box_btn .my_btn {
  position: relative;
  width: 272px;
  height: 92px;
  background: linear-gradient(187.97deg, #C09A59 -80.75%, #F5E3B8 36.27%, #C09A59 188.08%);
  border-radius: 10px;
}

.box_btn .my_btn img {
  position: absolute;
  left: 10%;
  top: 20%;
}

.box_btn .my_btn .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box_btn .my_btn .text_block .tx {
  color: #000000 !important;
}

.box_btn .my_btn .text_block h3 {
  margin-top: -10px;
  font-weight: 900;
}

.app {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #F2F2F2;
}

.app .content_app {
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 3rem;
  background: linear-gradient(280.75deg, #EED9AA -24.92%, rgba(238, 217, 170, 0) 133.49%);
  padding: 4rem;
  text-align: center;
}

.app .content_app .box_gold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}

.faq .faq_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.faq .faq_content .box_content {
  width: 100%;
  height: 96px;
  padding: 2rem;
  background: #121212;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq .faq_content .box_content .icons i {
  font-size: 3rem;
  color: #EFDBAD;
}

.faq .faq_content .box_content h4 {
  color: white;
}

.mycontact .title {
  font-weight: 900;
  margin-bottom: 4rem;
}

.mycontact input {
  padding: 1rem;
  border-radius: 10px;
}

.mycontact .myrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mycontact .formull {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mycontact .riba {
  background-color: #000000 !important;
  border-radius: 20px;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2rem;
  height: auto;
}

.mycontact .riba .box1 {
  padding: 0rem 2rem;
}

.mycontact .riba h5 {
  font-weight: 700;
  color: white;
  margin-top: 10px;
}

.mycontact .riba img {
  width: 42px;
  height: auto;
}

.mycontact .riba p {
  color: #ADADAD;
}

.portfolio {
  background-color: #000000;
}

.portfolio #portfolio-flters {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.portfolio .filter-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.portfolio .other-filter {
  display: none !important;
}

.portfolio .portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio-item .cercle {
  margin-top: 5rem;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(187.97deg, #C09A59 -80.75%, #F5E3B8 36.27%, #C09A59 188.08%);
}

.portfolio .portfolio-item .cercle img {
  position: absolute;
  width: 350px;
  height: auto;
  top: -6rem;
  left: 4.5rem;
}

.fa2 {
  background-color: #000000;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.fa2 .text_title {
  text-align: center;
  margin-bottom: 5rem;
}

.fa2 .text_title h1 {
  font-family: 'Neue Machina';
  background: linear-gradient(185.8deg, #C09A59 -30.73%, #F5E3B8 35.44%, #C09A59 121.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fa2 .text_title p {
  color: white;
}

.fa2 .wrapper {
  background-color: #121212;
  color: white;
  margin-bottom: 20px;
  padding: 15px 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
          box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
}

.fa2 .toggle,
.fa2 .myfaqcontent {
  font-family: "Poppins",sans-serif;
}

.fa2 .toggle {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  gap: 1rem;
  outline: none;
  cursor: pointer;
  padding: 0 0;
}

.fa2 .toggle h5 {
  font-size: 1.25rem;
  text-align: left;
}

.fa2 .toggle .icon_cercle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid #F5E3B8;
  padding: 10px;
  border-radius: 50%;
}

.fa2 .myfaqcontent {
  position: relative;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.fa2 .myfaqcontent p {
  font-size: 18px;
}

footer .footer-info .logo {
  margin-top: -2rem;
}

footer .footer-info .details_koree {
  font-weight: 600;
}

.mention {
  margin-top: 2rem;
}

.mention h1 {
  text-align: center;
}

.mention h3 {
  font-weight: 700;
}

.mention a {
  color: #2929be;
  text-decoration: underline;
}

.mycenter {
  text-align: center;
}

.underl {
  text-decoration: underline;
}

table thead, table th, table td {
  text-align: center;
}

table th {
  border: 1px solid #000000;
  padding: 10px;
}

table td {
  border: 1px solid #000000;
  border-top: none;
  padding: 10px;
}

.my_form .form-group input {
  padding: 15px 10px;
}

.my_form .mon_btn {
  margin-top: 2rem;
}

.my_form .mon_btn button {
  padding: 18px 60px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
}

@media screen and (max-width: 968px) {
  .hero .row_hero {
    position: relative;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero .row_hero .myfirst {
    position: absolute;
  }
  .why .content_why {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6rem;
  }
  .why .content_why .service_card .content {
    width: 340px;
  }
  .other .content_about {
    padding: 2rem;
  }
  .other .content_about .row {
    display: block !important;
    gap: 1rem;
  }
  .what_client .row {
    gap: 3rem;
  }
  .what_client .box_card .card_item {
    width: 100%;
  }
  .what_client .box_comment .what_content {
    position: relative;
    text-align: center;
  }
  .app .content_app {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
  }
  .app .content_app .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .app .content_app .container .box_gold {
    gap: 1rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .content_app .container .box_gold h3 {
    font-size: 25px;
    width: 100%;
  }
  .redirect_link1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .redirect_link {
    display: none !important;
  }
  .rae_content {
    display: none !important;
  }
  .my_wave, .my_star {
    width: 60px;
    height: auto;
  }
  .my_star {
    right: .1rem !important;
    top: 1rem !important;
  }
  .row_hero {
    margin-top: -2rem;
  }
  .row_hero .box_gold {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem !important;
  }
  .row_hero .box_gold .store .my_btn, .row_hero .box_gold .play .my_btn {
    padding: 10px 10px;
    gap: .5rem;
    border-radius: 5px;
  }
  .row_hero .box_gold .store .m_img img, .row_hero .box_gold .play .m_img img {
    width: 40px;
    height: auto;
  }
  .row_hero .box_gold .store h5, .row_hero .box_gold .play h5 {
    font-size: 12px;
  }
  .row_hero .box_gold .store h3, .row_hero .box_gold .play h3 {
    font-size: 15px;
  }
  .how {
    margin-bottom: -12rem !important;
    padding-bottom: -18rem !important;
  }
  .how .avant_cb {
    gap: 5rem;
  }
  .how .avant_cb .active {
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    position: relative;
  }
  .how .avant_cb .active .cercle {
    position: relative !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .how .avant_cb .active .cercle img {
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
  }
  .how .avant_cb .content_box .cercle {
    margin-top: 2rem;
    width: 300px;
    height: 300px;
  }
  .how .avant_cb .content_box .cercle img {
    width: 200px;
    top: -4rem;
    height: auto;
  }
  .mycontact .riba {
    padding: 4rem 2rem !important;
  }
  .mycontact .riba .box1 {
    padding: 0rem !important;
  }
}
/*# sourceMappingURL=main.css.map */
